body {
  margin: 0;
  font-family: var(--family-Josefin-Sans);
}

figure,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
}
