body {
  margin: 0;
  font-family: var(--family-Josefin-Sans);
}

figure,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

figure > img {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

span {
  display: block;
}

.container {
  background-image: linear-gradient($linear-gradient1);
}
